# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Django stuff:
*.log
*.pot
*.pyc
# db.sqlite3 -- We don't want to ignore this file as we require it for faking data.
/staticfiles/

# Environment
.env
venv/
.env.*

# IDEs
.vscode/
.idea/
