{% extends "inventory/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <body>
        <!-- Form container -->
        <div class="container shadow p-4 bg-body-tertiary rounded w-50 overflow-x-auto"> 
            <h3 class="text-center">Update Customer</h3>
            <h6>Update your customers's details below.</h6>

            <hr>

            <form method="POST" autocomplete="off">

                {% csrf_token %}
                {{ form|crispy }}
                    
                <a href="{% url 'view-customer' customer_id %}" class="btn btn-outline-danger btn-sm">Cancel</a>
                <button type="submit" class="btn btn-outline-primary btn-sm">Save</button>              
            </form>
        </div>
    </body>
{% endblock content %}
