/* Define Variables */
:root {
    --brand-color: #FF6D43; /* Brand color */
}

/* Navbar Link Styling */
.nav-link {
    color: inherit; /* Use parent element's text color by default */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.nav-link:hover {
    color: var(--brand-color) !important; /* Highlight brand color on hover */
}

/* Navbar Logo */
.navbar-logo {
    height: 50px !important;
    width: auto !important;
    max-height: 75px !important; /* Ensure responsive scaling */
}

/* Brand Text */
.text-brand {
    color: var(--brand-color) !important;
    font-weight: bold !important; /* Emphasize branding */
}

/* Form Layout */
.form-layout {
    max-width: 500px;
    margin: 0 auto !important; /* Center align the form */
    padding: 1rem;
}

/* Text Styling */
.message-text {
    color: #fff !important; /* Use shorthand for white */
}

