/* Define Variables */
:root {
    --brand-color: #FF6D43; /* Brand color */
}

/* Navbar Link Styling */
.nav-link {
    color: inherit; /* Use parent element's text color by default */
    transition: color 0.5s ease-in-out; /* Smooth color transition */
    font-weight: bold !important;
}

.nav-link:hover {
    color: var(--brand-color) !important; /* Highlight brand color on hover */
}

/* Navbar Logo */
.navbar-logo {
    height: 50px;
    width: auto;
    max-height: 75px; /* Ensure responsive scaling */
}

/* Brand Text */
.text-brand {
    color: var(--brand-color);
    font-weight: bold; /* Emphasize branding */
}

/* Form Layout */
.form-layout {
    max-width: 500px;
    margin: 0 auto; /* Center align the form */
    padding: 1rem;
}
/* Limit name column width and prevent overflow */
.wrapped-column {
    max-width: 250px;  /* Adjust width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

