{% extends "inventory/base.html" %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <!-- Quick Info Section -->
        <div class="row mb-4">
            <!-- Total Assets -->
            <div class="col-lg-3 mb-3">
                <div class="card shadow text-center" style="height: 100%;">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">Total Assets</h5>
                        <h3 class="text-primary">{{ assets_count }}</h3>
                    </div>
                </div>
            </div>
            <!-- Active Assets -->
            <div class="col-lg-3 mb-3">
                <div class="card shadow text-center" style="height: 100%;">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">Active Assets</h5>
                        <h3 class="text-success">{{ active_assets }}</h3>
                    </div>
                </div>
            </div>
            <!-- Maintenance Assets -->
            <div class="col-lg-3 mb-3">
                <div class="card shadow text-center" style="height: 100%;">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title">Maintenance Required</h5>
                        <h3 class="text-warning">{{ maintenance_assets }}</h3>
                    </div>
                </div>
            </div>
            <!-- Warranty Chart -->
            <div class="col-lg-3 mb-3">
                <div class="card shadow text-center" style="height: 100%;">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <canvas id="warrantyChart" style="width: 100%; max-width: 150px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4 d-flex justify-content-between align-items-center">
            <p>
                <span>Manage and view your assets below. Use the <strong>"Add Asset"</strong> button to add new entries.</span>
                <br>
                <span>Use the search bar below to find assets by name. Simply type the <strong>asset name</strong> to quickly locate the <i>desired entry</i>.</span>
            </p>
            <!-- Floating Action Button for "Add Asset" -->
            <a href="{% url 'create-asset' %}" class="btn btn-outline-primary ms-3">
                <i class="bi bi-plus-circle"></i> Add Asset
            </a>
        </div>

        <!-- Asset Table -->
        <div class="card">
            <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                <h5>Assets List</h5>
                <!-- Search Box in Header -->
                <form method="get" class="d-flex ms-2">
                    <div class="input-group col-md-3 col-12">
                        <!-- Search Box with Reset Button Inside -->
                        <input type="text" name="search" class="form-control" placeholder="Search Assets..." value="{{ search_query }}">
                    
                        <!-- Reset Button inside the Input Box -->
                        <button type="reset" class="btn btn-danger input-group-text" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to clear search." onclick="window.location.href = '{% url 'view-assets' %}';">
                            <i class="bi bi-x-circle"></i>
                        </button>

                        <!-- Search Button -->
                        <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to search.">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <!-- table-responsive class makes the table scrollable on small screens -->
                 {% if page_obj.object_list %}
                    <div class="table-responsive">
                        <!-- Table for displaying results -->
                        <table class="table table-striped" id="assetTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Asset Name</th>
                                    <th>Status</th>
                                    <th>Warranty</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in page_obj.object_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="wrapped-column">{{ asset.name }}</td>
                                    <td>
                                        <span class="badge {% if asset.status == 'Active' %}bg-success{% elif asset.status == 'Pending Maintenance' %}bg-warning{% else %}bg-danger{% endif %}">
                                            <i class="bi {% if asset.status == 'Active' %}bi-check-circle{% elif asset.status == 'Pending Maintenance' %}bi-exclamation-circle{% else %}bi-x-circle{% endif %}"></i>
                                            {{ asset.status }}
                                        </span>
                                    </td>
                                    <td>
                                        {% if asset.warranty_expiry %}
                                            {% if asset.is_warranty_pending %}
                                                <span class="badge bg-success"><i class="bi bi-shield-check"></i> Valid</span>
                                            {% else %}
                                                <span class="badge bg-danger"><i class="bi bi-shield-x"></i> Expired</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="badge bg-dark"><i class="bi bi-shield-exclamation"></i> N/A</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'view-asset' asset.id %}" class="btn btn-sm btn-outline-primary">
                                            <i class="bi bi-eye"></i> View
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <!-- Alert message for no results -->
                    <div class="alert alert-danger text-center">
                        No assets found.
                    </div>
                {% endif %}      
            </div>
            <div class="card-footer d-flex align-items-center">
                <nav class="w-100">
                    {% if show_pagination %}
                        <ul class="pagination justify-content-center mb-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}">Previous</a></li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}&search={{ search_query }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search_query }}">Next</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>

    <script>
        const warrantyStatusLabels = ['Under Warranty', 'Warranty Expired', 'N/A'];
        
        const assetsUnderWarranty = {{ assets_under_warranty }};
        const assetsOutOfWarranty = {{ assets_out_of_warranty }};
        const assetsNotApplicable = {{ assets_not_applicable }};
    </script> 

    <script src="{% static 'js/charts/asset-charts.js' %}"></script>
{% endblock %}
