annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.6.15
charset-normalizer==3.4.2
coverage==7.9.1
crispy-bootstrap5==2024.10
Django==5.1.4
django-crispy-forms==2.3
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
requests==2.32.4
soupsieve==2.7
sqlmap==1.9.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.5.0
