{% load static %} 

<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url '' %}">
      <img class="navbar-logo" src="{% static 'images/Logotype_Eviden_RGB_Orange.svg' %}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url '' %}">
            <i class="bi bi-house-door me-1"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/assets/' %}active{% endif %}" href="{% url 'view-assets' %}">
            <i class="bi bi-box me-1"></i> Assets & Inventory
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/customers/' %}active{% endif %}" href="{% url 'customers' %}">
            <i class="bi bi-people me-1"></i> Customers
          </a>
        </li>
      </ul>
      {% endif %}
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/logout/' %}active{% endif %}" href="{% url 'logout' %}">
              <i class="bi bi-box-arrow-right me-1"></i> Sign Out
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">
              <i class="bi bi-box-arrow-in-right me-1"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/register/' %}active{% endif %}" href="{% url 'register' %}">
              <i class="bi bi-person-plus me-1"></i> Register
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>